@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

:root {
	--navbar-color: black;
	--border-color: #212121;
	--forum-box-overlay: rgba(0, 0, 0, 0.7);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
	background-image: url(/imgs/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

}

#banner {
	width: 100%;
	height: 180px;
	object-fit: cover;
	display: block;
	background-image: url(/imgs/iseeangels.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

#symbol {
	max-width: 1550px;
	margin-left: auto;
	margin-right: auto;
}

#symbol img {
	margin-top: 5px;
	width: 165px;
	aspect-ratio: 1;
}

#page-title {
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -70%);
	font-size: 80px;
}

.container {
	margin-top: 25px;
	display: grid;
	height: 100vh;
	max-width: 1650px;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 80% 20%;
	grid-template-rows: 1.5fr 0.2fr;
	grid-template-areas:
	"main sidebar"
	"footer footer";
	padding: 50px;
	padding-top: 0px;
	gap: 10px;
}

.transparent {
	background-color: rgba(16, 16, 16, 0.9);
}

header {
	background-color: var(--navbar-color);
	width: 100%;
	overflow: hidden;
}

nav {
	background-color: var(--navbar-color);
	overflow: hidden;
	width: 100%;
}

.wide {
	max-width: 1550px;
	margin-left: auto;
	margin-right: auto;
}

.nav-left li {
	display: block;
	background-color: transparent;
	float: left;
	padding: 10px;
}

.nav-right li{
	display: block;
	background-color: transparent;
	float: right;
	padding: 10px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	/* background-color: blue; */
	grid-area: main;
}

footer {
	grid-area: footer;
	background-color: yellow;
	padding: 20px;
}

.separator {
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Sidebar attributes start here! */

.inline {
	display: inline;
}

.sidebar {
	/* background-color: green; */
	grid-area: sidebar;
	height: 846px;
	width: 100%;
	min-width: 270px;
	overflow: hidden;
	display: block;
}

.sidebar-image img{
	max-width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.sidebar-members {
	background-color: green;
	max-width: 100%;
	height: 225px;
	margin-top: 40px;
}

.members-online {
	width: 100%;
	height: 15%;
	background-color: blue;
}

.text {
	padding: 10px;
}

/* This is the beginning of the forums classes with media query!!! */

.forums {
	display: grid;
	grid-template-rows: 240px 240px;
	grid-auto-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"forums-site-information forums-angels forums-gen"
	"forums-wiki forums-compsci forums-3d"
	;
	gap: 10px;
}

.forums-site-information {
	background-image: url(/imgs/forums-backgrounds/sunset.jpg);
	background-size: cover;
}

.forums-angels {
	background-image: url(/imgs/forums-backgrounds/angels.png);
	background-size: cover;
}

.forums-element {
	background-color: blue;
	width: 100%;
	padding: 10px;
	line-height: 25px;
	font-size: 13px;
	border: 1px var(--border-color) solid;
	position: relative;
}

.forum-box {
	background-color: var(--forum-box-overlay);
	box-shadow: 0 0 0 10px var(--forum-box-overlay);
}

.forum-table-content {
	padding-left: 10px;
	font-weight: 900;
}

.forum-box-icon {
	float: left;
	height: 100%;
	position: relative;
	margin-right: 10px;
}

.forum-box-title {
	font-size: 17px;
}

.forum-box-description {
	font-size: 15px;
}

.forum-highlighted {
	margin-top: 15px;
}

.more {
	width: 100%;
	height: 40px;
	background-color: var(--forum-box-overlay);
	position: absolute;
	bottom: 0;
	right: 0;
}

.more-post, .more-text {
	display: inline-block;
	margin-bottom: auto;
	margin-top: 7px;
	padding-right: 5px;
	padding-left: 5px;
}

.more-post {
	float: left;
}

.more-text {
	float: right;
}

/* Beginning of the main container contents */

.welcome {
	max-width: 100%;
	font-weight: bold;
	font-size: 40px;
	padding: 10px;
	text-align: center;
	border: #202121 1px solid;
	color: white;
	border-radius: 8px;
}

.postwall {
	border: 1px solid var(--border-color);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.postwall-menu {
	overflow: hidden;
}

.postwall-menu li {
	display: block;
	float: left;
	list-style-type: none;
	padding: 10px;
}

.post {
	border: 1px solid var(--border-color);
	height: 100%;
	min-height: 65px;
	max-height: 130px;
	/* background-color: red; */
	display: flex;
	vertical-align: top;
	border-right: none;
	border-left: none;
}

.post-avatar {
	min-width: 50px;
}

.post-avatar img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.post-last-avatar img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 30px;
}

.post-attributes {
	min-width: 50px;
	flex-grow: 1;
	padding: 10px;
}

.post-author, .post-date, .post-forum-name {
	font-size: 13px;
}

.small {
	font-size: 13px;
}

.post-views {
	min-width: 115px;
	padding: 10px;
}

.post-last-date {
	min-width: 180px;
	padding: 10px;
}

.right {
	float: right;
}

.last-user {
	color: grey;
}

.post-last-avatar {
	min-width: 40px;
}

@media only screen and (max-width: 550px) {
	
}
