@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

:root {
	--navbar-color: black;
	--border-color: #4a4a4a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
	background-image: url(/imgs/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

}

#banner {
	width: 100%;
	height: 180px;
	object-fit: cover;
	display: block;
}

.container {
	margin-top: 25px;
	display: grid;
	height: 100vh;
	max-width: 1650px;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 80% 20%;
	grid-template-rows: 1.5fr 0.2fr;
	grid-template-areas:
	"main sidebar"
	"footer footer";
	padding: 50px;
	padding-top: 0px;
	gap: 10px;
}

.transparent {
	background-color: rgba(16, 16, 16, 0.9);
}

header {
	background-color: var(--navbar-color);
	width: 100%;
	overflow: hidden;
}

nav {
	background-color: var(--navbar-color);
	overflow: hidden;
	width: 100%;
}

.wide {
	max-width: 1550px;
	margin-left: auto;
	margin-right: auto;
}

.nav-left li {
	display: block;
	background-color: transparent;
	float: left;
	padding: 10px;
}

.nav-right li{
	display: block;
	background-color: transparent;
	float: right;
	padding: 10px;
}

a {
	color: white;
}

main {
	/* background-color: blue; */
	grid-area: main;
}

footer {
	grid-area: footer;
	background-color: yellow;
	padding: 20px;
}

.separator {
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Sidebar attributes start here! */

.sidebar {
	/* background-color: green; */
	grid-area: sidebar;
	height: 846px;
	width: 100%;
	min-width: 270px;
	overflow: hidden;
	display: block;
	position: relative;
}

.sidebar-image img{
	max-width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.sidebar-members {
	background-color: green;
	max-width: 100%;
	height: 225px;
	margin-top: 40px;
}

.members-online {
	width: 100%;
	height: 15%;
	background-color: blue;
}

.text {
	padding: 10px;
}

/* Beginning of the main container contents */

.welcome {
	max-width: 100%;
	font-weight: bold;
	font-size: 40px;
	padding: 10px;
	text-align: center;
	border: #202121 1px solid;
	color: white;
	border-radius: 8px;
}

.postwall {
	height: 717px;
	border: 1px solid var(--border-color);
	border-radius: 8px;
}

.postwall-menu {
	overflow: hidden;
}

.postwall-menu li {
	display: block;
	float: left;
	list-style-type: none;
	padding: 10px;
}

.post {
	border: 1px solid var(--border-color);
	height: 100%;
	min-height: 65px;
	max-height: 130px;
	/* background-color: red; */
	display: flex;
	vertical-align: top;
	border-right: none;
	border-left: none;
}

.post-avatar {
	min-width: 50px;
}

.post-avatar img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.post-last-avatar img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 30px;
}

.post-attributes {
	min-width: 50px;
	flex-grow: 1;
	padding: 10px;
}

.post-author, .post-date, .post-forum-name {
	font-size: 13px;
}

.small {
	font-size: 13px;
}

.post-views {
	min-width: 115px;
	padding: 10px;
}

.post-last-date {
	min-width: 180px;
	padding: 10px;
}

.right {
	float: right;
}

.last-user {
	color: grey;
}

.post-last-avatar {
	min-width: 40px;
}

@media only screen and (max-width: 550px) {
	
}
